.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 30%;
  border: none;
  padding: 15px;
}

.search-button {
  border: none;
  padding: 15px;
}

.Recipe {
  background-color: rgba(255,255,255,0.65);
  margin: 20px;
  padding: 35px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.Recipe h1 {
  margin-bottom: 5px;
}

.Recipe p {
  margin-top: 0px;
}

.Recipe img {
  border-radius: 5px;
  margin: 15px 0px;
}

.Recipe ul {
  list-style-type: none;
  text-align: center;
}

.recipe-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}